{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бронирование</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<div class="navbar navbar-inverse navbar-light" role="navigation">
    <div class="container">
        {% if not request.user.is_authenticated %}
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Гость</a>
            </div>
        {% else %}
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Пользователь: {{ request.user }}</a>
            </div>
            <div class="align-content-centr">
                {#                <ul class="pull-right">#}
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#detailModalVacant">Отдохнуть</button>
                <a class="navbar-header" href='{% url 'logout' %}'><button type="button" class="btn btn-danger btn-sm">Выход</button></a>

                {#                </ul>#}
            </div>
        {% endif %}
    </div>
</div>

<div class="container">

    {% for week in weeks %}
        <table class="table table-bordered table-dark" width="100%">
            <thead>
            <tr>
                <th width="2%" scope="col"></th>

                {% for object in week %}

                    <th width="14%" scope="col"><button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#detailModal-{{ object.id }}">{{ object.title }}</button></th>

                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <th width="2%" scope="row">
                    <dl>
                        <dd>C</dd>
                        <dd>О</dd>
                        <dd>Т</dd>
                        <dd>Р</dd>
                        <dd>У</dd>
                        <dd>Д</dd>
                        <dd>Н</dd>
                        <dd>И</dd>
                        <dd>К</dd>
                        <dd>И</dd>
                    </dl>
                </th>
                {% for object in week %}
                    <td width="14%" onclick="send('#detailModal1')" scope="col">
                        {% if object.user.all.count > 0 %}
                            <h6 style="color:forestgreen">Офис:</h6>
                        {% endif %}
                        <div class="text-sm-right">
                            {% for staff in object.user.all %}
                                <p>{{ staff.username }}</p>
                            {% endfor %}
                        </div>
                        {% if object.home.all.count > 0 %}
                            <h6 style="color:mediumvioletred">Home Office:</h6>
                        {% endif %}
                        <div class="text-sm-right">
                            {% for staff in object.home.all %}
                                <p>{{ staff.username }}</p>
                            {% endfor %}
                        </div>
                        {% if object.vacant.all.count > 0 %}
                            <h6 style="color:yellow">Отдых:</h6>
                        {% endif %}
                        <div class="text-sm-right">
                            {% for staff in object.vacant.all %}
                                <p>{{ staff.username }}</p>
                            {% endfor %}
                        </div>
                    </td>
                    {#                        </ol>#}
                {% endfor %}
            </tr>
            <tr>
                <th width="2%" scope="row"></th>
                {% for object in week %}

                    {#                    <td width="14%" scope="col"> #}

                    <td width="14%" scope="col">
                        {% if today > object.day  %}
                            <p><a class="btn btn-warning btn-block disabled" href="#" role="button">Закрыто</a></p>
                        {% elif object.user.all.count < 19 and not user in object.user.all %}
                            <p><a class="btn btn-success btn-block" href="{% url 'reserve' str_date=object.day %}" role="button">Записаться</a></p>
                        {% elif user in object.user.all %}
                            <p><a class="btn btn-danger btn-block" href="{% url 'unreserve' str_date=object.day %}" role="button">Отменить</a></p>
                        {% elif object.user.all.count == 19 %}
                            <p><a class="btn btn-warning btn-block disabled" href="#" role="button">Зарезервировано</a></p>
                        {% endif %}
                    </td>

                {% endfor %}
            </tr>
            </tbody>

        </table>
    {% endfor %}

    <hr>
    {#    <footer>#}
    {#        <p>booking workplace</p>#}
    {#    </footer>#}

</div> <!-- /container -->
{% for week in weeks %}
    {% for object in week %}
        <div class="modal fade" id="detailModal-{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="detailModalLabel">Бронирование на: {{ object.day }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped small">
                            <thead>
                            <tr>
                                {#                                <th scope="col"></th>#}
                                {#                                <th scope="col">Сотрудник</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            <td><h6>Офис:</h6></td>
                            {% for user in object.user.all %}
                                <tr>
                                    <th scope="row"></th>
                                    {% if user == request.user %}
                                        <td><h6 style="color:forestgreen">{{ user.username }}</h6></td>
                                    {% else %}
                                        <td><h6>{{ user.username }}</h6></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot></tfoot>
                        </table>

                        <p><h6>Свободных мест:
                        {% if object.free_places <= 0 %}
                            нет
                        {% else %}
                            {{ object.free_places }}
                        {% endif %}
                        , в офисе будет {{ object.user.all.count }} человек.</h6></p>
                        <p><h6>Дежурные: </h6></p>
                        <ul style='list-style-type:square;'>
                            <li>Администратор: -</li>
                            <li>Аналитик: -</li>
                            <li>Робот: -</li>
                            <li>Менеджер: -</li>
                            {% for admin in duty_admin %}
                                {% if admin.day == object.day.weekday %}
                                    <li>Программист: {{ admin.administrator }}</li>
                                    {% if admin.administrator not in object.user.all %}
                                        <h6 style="color:red">Дежурный программист не записан!</h6>
                                    {% endif %}
                                {% else %}
                                    {#                                    <li>Программист: -</li>#}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class = "row">
                            {% if today > object.day  %}
                                <p><a class="btn btn-warning btn-block disabled" href="#" role="button">Закрыто</a></p>
                            {% elif object.user.all.count < 19 and not user in object.user.all %}
                                <p><a class="btn btn-success btn-block" href="{% url 'reserve' str_date=object.day %}" role="button">Записаться</a></p>
                            {% elif user in object.user.all %}
                                <p><a class="btn btn-danger btn-block" href="{% url 'unreserve' str_date=object.day %}" role="button">Отменить</a></p>
                            {% elif object.user.all.count == 19 %}
                                <p><a class="btn btn-warning btn-block disabled" href="#" role="button">Зарезервировано</a></p>
                            {% endif %}
                            <ul class="pull-right">
                                <p><a class="btn btn-secondary" data-dismiss="modal" role="button">Закрыть</a></p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}

<div class="modal fade" id="detailModalVacant" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="detailModalLabel">Задайте период отсутсвия:</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <label for="calendarnav_start">Первый день:</label>
                    <input type="date" id="calendarnav_start">
                </p>
                <p>
                    <label for="calendarnav">Последний день:</label>
                    <input type="date" id="calendarnav">
                </p>
                <p><a class="btn btn-success btn-block" href="#" role="button">Отдых</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-latest.js" ></script>

<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
